@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  p {
    @apply my-2;
  }

  ul,
  ol {
    @apply my-4;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    @apply my-2;
  }
}

@layer components {
  .btn {
    @apply disabled:bg-green-200 disabled:cursor-not-allowed hover:no-underline bg-green-500 tracking-wider w-full text-center text-white font-bold cursor-pointer uppercase px-4 py-2 rounded-md hover:bg-green-600 transition-colors block;
  }
}
